<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Greenspoon.Tess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <clear />
    <!-- DataProvider. Only used in ADO.NET. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- ConnectionName. A name in connectionstring Section. Must match with DataProvider above -->
    <add key="ConnectionStringName" value="ADO.NET.SqlServer" />
    <!-- Log Severity. Options are: Debug, Info, Warning, Error, Warning, or Fatal -->
    <add key="LogSeverity" value="Error" />
    <!-- Add the reporting server username and password and domain name-->
    <add key="ReportingServerUserName" value="TessAdmin" />
    <add key="ReportingServerPassword" value="TSPassword432" />
    <add key="ReportingServerUserDomain" value="greenspoonmarde" />
    <!-- Add Crystal report configuration information -->
    <!--Make sure the CrystapReportBasePath ends with "/"-->
    <add key="CrystalReportBasePath" value="~/CrystalReports/" />
    <add key="DSNFileFullPath" value="~/Setting/DSN/Tess.dsn" />
    <add key="DatabaseName" value="tess_dev" />
    <add key="UserID" value="sa" />
    <add key="Password" value="t3sspr0d@dm1n" />
    <!-- Add Image database network folder access account-->
    <!-- Make sure the account does have write permission to the document folder-->
    <add key="Doc.UserName" value="tessadmin" />
    <add key="Doc.Password" value="TSPassword432" />
    <add key="Doc.Domain" value="greenspoonmarde" />
    <!--Setting for Batch Update Excel Column Name-->
    <add key="Excel.MasterId" value="master_id" />
    <add key="Excel.BatchEscrowId" value="escrow_key" />
    <add key="Excel.DevK" value="devk" />
    <add key="Excel.BatchCancelId" value="cancel_key" />
  </appSettings>
  <!-- 
      Connection string settings 
    -->
  <connectionStrings>
    <clear />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="ADO.NET.SqlExpress" connectionString="Data Source=.;AttachDbFilename=|DataDirectory|\Tess_dev.mdf;Integrated Security=True;User Instance=True" />
    <add name="ADO.NET.SqlServer" connectionString="Data Source=gm-atl-tessdb;Initial Catalog=tess_dev;User ID=sa;Password=t3sspr0d@dm1n;" />
    <add name="Image.DB" connectionString="Data Source=gm-atl-imngsql;Initial Catalog=tess;User ID=tessapp;Password=t3ss@pp123;" />
    <add name="TessEntities" connectionString="metadata=res://*/DataObjects.Linq.Tess.csdl|res://*/DataObjects.Linq.Tess.ssdl|res://*/DataObjects.Linq.Tess.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=gm-atl-tessdb;Initial Catalog=tess_dev;User ID=sa;Password=t3sspr0d@dm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="tess_devConnectionString1" connectionString="Data Source=gm-atl-tessdb;Initial Catalog=tess_dev;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <authorization>
      <deny users="?" />
    </authorization>
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider">
      <providers>
        <clear />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages theme="Default" masterPageFile="~/masterPages/Site.master" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="ajax" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
      <namespaces>
        <add namespace="Greenspoon.Tess.Classes" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="DocHandler.ashx" type="Greenspoon.Tess.Services.DocHandler, TessWebApplication" />
    </httpHandlers>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <applicationSettings>
    <Greenspoon.Tess.Properties.Settings>
      <setting name="TessWebApplication_ReportExecution2005_ReportExecutionService" serializeAs="String">
        <value>http://10.0.0.105:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
    </Greenspoon.Tess.Properties.Settings>
  </applicationSettings>
</configuration>